body {
	overflow: hidden;
	background: #353535;
	height: 100%;
	margin: 0;

}
header {
	height: 220px;
	background: #BED730;

}
#header-logo {
	margin: 30px 15px 0 35px;
	float: left;
}
h1 {
	font-size: 120px;
	font-family: Verdana, sans-serif;
	color: white;
	margin: 0;
	padding-top: 50px;

}
.char {
	margin: 3px 0;

}
.flipline:after {
	clear: both;

}
.title {
	margin-left: 20px;

}
.location {
	margin-right: 20px;

}
span {
	margin-top: 5px;
	float: left;

}
