html {
}
body {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 14px;
	background: #666666;
	transform: scale(0.75);
	
}
header {
	height: 100px;
}
#content {
	position: absolute;
	top: 50%;
	left: 0%;
	margin: 0 0 0 -310px;
	border: 7px solid #000000;
	background: #666666; /*#1F62A6;*/
	padding: 17px;
	width: 2480px;
	height: 1375px;
	box-shadow: 5px 10px 20px #CCCCCC inset;
}
h1 {
	margin: 0 0 10px 0;
	padding: 0;
	font-size: 3em;
	text-align: center;
}
h1 a {
	color: #000000;
}
.char {
	margin: 3px;
}
span {
	float: left;
	margin-right: 25px;
}
